Assets/bowser2
Assets/main_player
Assets/bomba.png
Assets/bowser.png
Assets/puntaje_extra.png
Assets/enemigo.png
Assets/jugador_principal.png
Assets/safe_zone.png
Assets/vida_extra.png
Ejemplo
20171026_185712.png
Enunciado.pdf
__pycache__
pruebas.py
graphic.py
registro.py